name: Check, test and build

on: [push, pull_request]

jobs:
  check-code:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: lint
      uses: golangci/golangci-lint-action@v2
      with:
        skip-go-installation: true
    
    - name: Test
      run: go test -v ./...

  build-and-update-dry-run:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -ldflags "-s -w" -o almendruco cmd/almendruco/*.go

    - name: Package
      run: zip almendruco-$(git rev-parse --abbrev-ref HEAD)-$(git rev-parse --short HEAD).zip almendruco

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        role-duration-seconds: 900

    - name: Update lambda
      run: |
        aws lambda update-function-code \
          --function-name almendruco \
          --zip-file fileb://almendruco-$(git rev-parse --abbrev-ref HEAD)-$(git rev-parse --short HEAD).zip \
          --dry-run \
          >/dev/null

  build-and-update:
    runs-on: ubuntu-latest
    if: ${{ github.ref == 'refs/heads/main' }}
    needs: 
      - check-code
      - build-and-update-dry-run
    permissions:
      id-token: write
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.16

    - name: Build
      run: go build -ldflags "-s -w" -o almendruco cmd/almendruco/*.go

    - name: Package
      run: zip almendruco-$(git rev-parse --abbrev-ref HEAD)-$(git rev-parse --short HEAD).zip almendruco

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-region: ${{ secrets.AWS_REGION }}
        role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
        role-duration-seconds: 900

    - name: Update lambda
      run: |
        aws lambda update-function-code \
          --function-name almendruco \
          --zip-file fileb://almendruco-$(git rev-parse --abbrev-ref HEAD)-$(git rev-parse --short HEAD).zip \
          >/dev/null
